modules = ["nodejs-20", "web", "bash"]

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
BBB_URL = "https://bigbluebutton.aiinvestor360.ru/bigbluebutton/"
SMTP_PORT = "465"
SMTP_USER = "info@tvoyvector.ru"
SMTP_FROM = "Твой Вектор <info@tvoyvector.ru>"
SMTP_SUPPORT = "support@tvoyvector.ru"
SMTP_HOST = "smtp.beget.com"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[deployment]
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]
deploymentTarget = "autoscale"
